.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

@media only screen and (min-width: 1201px) {
    body {
        width:60%;
        margin:auto;
        color: #003049
    }

    li a:hover {
        background-color: #D62828;
      }
    
    .grid-container {
      display: grid;
      margin: auto;
      grid-template-areas:
        'header'
        'menu'
        'main'
        'footer';
      grid-gap: 10px;
        
      padding: 10px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 1vw;
    }
    .grid-item {
        display: grid;
        background-color: aliceblue;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1vw;
    }
    .item1 {
        margin:auto;
        text-align: center;
    }
    .item2 > ul {
        margin:auto;
        display: block;
        list-style-type: none;
        overflow: hidden;
        background-color: #003049;
        padding-inline-start: 0px;
      }
    li {
        float: left;
      }
      
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: #D62828;
      }
    
    .item3 {
        display: grid;
        list-style-type: disc;
    }
    .item4 {
        display: grid;
    }
    .item5 {
        display: grid;
    }
    #logo {
        display: grid;
        margin: auto;
        padding: 10px;
        width: 12em;
    }
}
@media only screen and (max-width: 1200px) {
    body {
        font-size: 3vw;
        margin:auto;
        color: #003049
    }

    li a:hover {
        background-color: #D62828;
      }
    
    .grid-container {
      display: grid;
      margin: auto;
      grid-template-areas:
        'header'
        'menu'
        'main'
        'footer';
      grid-gap: 10px;
        
      padding: 10px;
    }
    
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
    }
    .grid-item {
        display: grid;
        background-color: aliceblue;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .item1 {
        margin:auto;
        text-align: center;
    }
    .item2 > ul {
        margin:auto;
        display: block;
        list-style-type: none;
        overflow: hidden;
        background-color: #003049;
        padding-inline-start: 0px;
      }
    li {
        float: left;
      }
      
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: #D62828;
      }
    
    .item3 {
        display: grid;
        list-style-type: disc;
    }
    .item4 {
        display: grid;
    }
    .item5 {
        display: grid;
    }
    #logo {
        display: grid;
        margin: auto;
        padding: 10px;
        width: 12em;
    }
}
